:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --lightgrey: hsl(231, 7%, 92%);
    --white: hsl(0, 0%, 100%);

    --thin-font: 400;
    --bold-font: 700;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto-Regular";
    color: var(--dark-slate-grey);
}
html {
    background-color: var(--lightgrey);
}
body {
    background-color: var(--white);
    max-width: 840px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Bold";
}
p, ol {
    margin: 0;
    padding: 0;
}
p, span, button {
    font-size: 16px;
}
li {
    list-style: none;
}
img {
    width: 100%;
}

.main-content {
    margin: auto;
    padding: 0 24px 32px 24px;
    width: fit-content;
}
.illustration-wrapper img {
    margin: auto;
    max-height: 400px;
}

.list {
    padding: 32px 0;
}
.list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.list-item-icon {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}
.list-item-content {
    line-height: 1.4em;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.form-label {
    font-family: "Roboto-Bold";
    font-size: 12px;
    margin-bottom: 8px;
}
.form-input {
    color: var(--grey);
    border: 1px solid var(--grey);
    padding: 16px 24px;
}

.action-button {
    width: 100%;
    padding: 16px 0;
    color: var(--white);
    background-color: var(--charcoal-grey);
    font-family: "Roboto-Bold";
}

.rounded {
    border-radius: 8px;
}

@media screen and (min-width: 1280px) {
    body {
        width: 100%;
    }
}