:root {
    --grenade: hsl(346, 100%, 65%);
    --tomato: hsl(17, 100%, 67%);
    --tomato-hidden: hsl(4, 100%, 67%, .5);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --lightgrey: hsl(231, 7%, 92%);
    --white: hsl(0, 0%, 100%);

    --thin-font: 400;
    --bold-font: 700;
}

@property --actionButtonBgColor1 {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
}
@property --actionButtonBgColor2 {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto-Regular";
    color: var(--dark-slate-grey);
}
html {
    background-color: var(--lightgrey);
}
body {
    background-color: var(--white);
    min-height: 100vh;
    max-width: 840px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Bold";
}
p, ol {
    margin: 0;
    padding: 0;
}
p, span, button {
    font-size: 16px;
}
li {
    list-style: none;
}
img {
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
}
.illustration-wrapper img {
    margin: auto;
    max-height: 400px;
    object-fit: unset;
}
.main-content {
    margin: auto;
    padding: 0 24px 32px 24px;
    width: fit-content;
}

.list {
    padding: 32px 0;
}
.list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.list-item-icon {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}
.list-item-content {
    line-height: 1.4em;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.form-label {
    font-family: "Roboto-Bold";
    font-size: 12px;
    margin-bottom: 8px;
}
.form-input {
    color: var(--grey);
    border: 1px solid var(--grey);
    padding: 16px 24px;
    transition: .5s all;
}
.form-input:hover {
    border: 2px solid var(--grey);
    cursor: pointer;
}

.action-button {
    width: 100%;
    padding: 16px 0;
    color: var(--white);
    font-family: "Roboto-Bold";
    border: none;

    --actionButtonBgColor1: var(--charcoal-grey);
    --actionButtonBgColor2: var(--charcoal-grey);
    background: linear-gradient(.125turn, var(--actionButtonBgColor1), var(--actionButtonBgColor2));
    box-shadow: none;
    transition: .5s --actionButtonBgColor1, .5s --actionButtonBgColor2, .5s all;
}
.action-button:hover {
    --actionButtonBgColor1: var(--grenade);
    --actionButtonBgColor2: var(--tomato);
    box-shadow: 0px 12px 24px var(--tomato-hidden);
    cursor: pointer;
}

.rounded {
    border-radius: 8px;
}

@media screen and (min-width: 1280px) {
    body {
        max-width: unset;
        background-color: var(--charcoal-grey);
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 560px;
        width: 80%;
        margin: auto;
        flex-direction: row-reverse;
        background-color: var(--white);
        border-radius: 24px;
    }
    .content-container > div {
        width: 400px;
    }
    .illustration-wrapper {
        padding: 20px;
    }
    .illustration-wrapper img {
        height: 100%;
        max-height: unset;
        object-fit: cover;
    }
    .main-content {
        flex-grow: 3;
        padding: 40px;
    }
}