:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    --thin-font: 400;
    --bold-font: 700;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto-Regular";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Bold";
}
body, p, ol {
    margin: 0;
    padding: 0;
}
p, span {
    font-size: 16px;
}
li {
    list-style: none;
}

.main-content {
    margin: 0 24px;
}

.list {
    padding: 32px 0;
}
.list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.list-item-icon {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}
.list-item-content {
    line-height: 1.4em;
}